<!DOCTYPE html>
<html lang="en">
   <head>
      <title>SGPA Predictor</title>
      <!-- Meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Gaze Sign up & login Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
         />
      <script>
         addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
      </script>
      <!-- Meta tags -->
      <!--stylesheets-->
      <link href="static/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//style sheet end here-->
      <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
   </head>
   <body>
      <div class="mid-class">
         <div class="art-right-w3ls">
            <h2>SGPA Predictor</h2>
            <form action="{{ url_for('predict')}}" method="post">
               <div class="main">
                  <div class="form-left-to-w3l">
                     <input type="text" name="AGPV" placeholder="AGPV" required="">
                  </div>
                  <div class="form-left-to-w3l ">
                     <input type="text" name="Marks" placeholder="Marks" required="">
                     <div class="clear"></div>
                  </div>
               <div class="clear"></div>
               <div class="btnn">
                  <button type="submit">Predict</button>
               </div>
               <br>
               <br>
               
               <center><p style="color:white">{{ prediction_text }}</p>
            </form>
            <!-- popup-->
            <div id="content1" class="popup-effect">
               <div class="popup">
                  <!--login form-->
                  <div class="letter-w3ls">
                     <form action="#" method="post">
                        <div class="form-left-to-w3l">
                           <center><input type="text" name="AGPV" placeholder="AGPV" required="">
                        </div>
                        <div class="form-left-to-w3l">
                           <input type="text" name="Marks" placeholder="Marks" required="">
                        </div>
                        <div class="btnn">
                           <button type="submit">Predict</button>
                           <br>
                        </div>
                     </form>
                     <div class="clear"></div>
                  </div>
                  <!--//login form-->
                  <a class="close" href="#">&times;</a>
               </div>
            </div>
            <!-- //popup -->
         </div>
      </div>
   </body>
</html>